{namespace c=TYPO3\CMS\Core\ViewHelpers}

<f:if condition="{position}">
    <f:else>
        <bx:variable.set name="position">Default</bx:variable.set>
    </f:else>
</f:if>

<nav class="pagination-wrap">
    <ul class="pagination pagination-block pull-right" style="margin: 0">
        <f:if condition="{page} > 1">
            <f:then>
                <li>
                    <f:link.action arguments="{page: 1}" title="Erste">
                        <c:icon identifier="actions-view-paging-first" />
                    </f:link.action>
                </li>
                <li>
                    <f:link.action arguments="{page: '{page - 1}'}" title="Vorherige">
                        <c:icon identifier="actions-view-paging-previous"/>
                    </f:link.action>
                </li>
            </f:then>
        </f:if>

        <li>
            <span>
                {perpage * page - perpage + 1} - {perpage * page - perpage + count}
            </span>
        </li>
        <li>
            <span>
                <f:form id="paginator-form-{position}" onsubmit="goToPage(this); return false;" style="display:inline;">
                    <script type="text/javascript">
                        var pages = parseInt('{pages}');
                        var url = '{f:uri.action(arguments: {page: 987654321})}';

                        function goToPage(formObject) <f:format.raw value="{" />
                            var page = TYPO3.jQuery(formObject).find('.form-control:first').val();
                            if (page > pages) <f:format.raw value="{" />
                                page = pages;
                            <f:format.raw value="}" />
                            else if (page < 1) <f:format.raw value="{" />
                                page = 1;
                            <f:format.raw value="}" />
                            url = url.replace('987654321', page);
                            self.location.href = url;
                        <f:format.raw value="}" />
                    </script>
                    <f:form.textfield name="paginator-target-page" size="3" value="{page}"
                                      additionalAttributes="{onchange: 'goToPage(this.form);return false;'}"
                                      class="form-control input-sm paginator-input"/>
                </f:form>
                / {pages}
            </span>
        </li>
        <li>
            <f:if condition="{pages} > {page}">
                <f:then>
                    <li>
                        <f:link.action arguments="{page: '{page+1}'}" title="Nächste">
                            <c:icon identifier="actions-view-paging-next" />
                        </f:link.action>
                    </li>
                    <li>
                        <f:link.action arguments="{page: pages}" title="Letzte">
                            <c:icon identifier="actions-view-paging-last"/>
                        </f:link.action>
                    </li>
                </f:then>
            </f:if>
        </li>
    </ul>
</nav>