<f:be.container
        pageTitle="IMIA Pageteaser"
        enableClickMenu="true"
        loadExtJs="true"
        loadExtJsTheme="true"
        loadJQuery="true"
        includeRequireJsModules="{0: 'TYPO3/CMS/Backend/Modal', 1: 'TYPO3/CMS/Backend/AjaxDataHandler', 2: 'TYPO3/CMS/Recordlist/Tooltip'}"
        includeCssFiles="{0: '{f:uri.resource(path: \'Stylesheets/Backend.css\')}'}"
        includeJsFiles="{0: '{f:uri.resource(path: \'Javascripts/Backend.js\')}'}">
    <script type="text/javascript">
        TYPO3.lang = typeof TYPO3.lang != 'object' ? {} : TYPO3.lang;
        TYPO3.lang['button.cancel'] = '{f:translate(key: 'backend_cancel')}';
        TYPO3.lang['button.delete'] = '{f:translate(key: 'backend_delete')}';
    </script>
    <div class="module">
        <div class="module-docheader t3js-module-docheader">
            <div class="module-docheader-bar module-docheader-bar-navigation t3js-module-docheader-bar t3js-module-docheader-bar-navigation">
                <div class="module-docheader-bar-column-left">
                    <div class="form-inline">
                        <f:be.buttons.csh />
                        <f:render section="functions" />
                    </div>
                </div>
                <div class="module-docheader-bar-column-right">
                    <f:be.pagePath />
                    <f:be.pageInfo />
                </div>
            </div>
            <div class="module-docheader-bar module-docheader-bar-buttons t3js-module-docheader-bar t3js-module-docheader-bar-buttons">
                <div class="module-docheader-bar-column-left">
                    <div class="btn-toolbar" role="toolbar" aria-label="">
                        <f:render section="buttons"/>
                    </div>
                </div>
                <div class="module-docheader-bar-column-right">
                    <div class="btn-toolbar" role="toolbar">
                        <div class="btn-group">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="module-body t3js-module-body">
            <f:render section="content"/>
        </div>
    </div>
</f:be.container>