{namespace c=TYPO3\CMS\Core\ViewHelpers}
{namespace p=IMIA\ImiaPageteaser\ViewHelpers}
{namespace bx=IMIA\ImiaBaseExt\ViewHelpers}

<f:layout name="Backend"/>

<f:section name="functions">
    <f:form>
        <div class="form-group form-group-sm">
            <div class="row">
                <div class="col-xs-3">Options:<br /><f:form.select name="show" options="{showOptions}"
                                                     value="{show}" additionalAttributes="{onchange: 'this.form.submit()'}" class="form-control" /></div>
                <f:if condition="{rootOptions -> f:count()} > 2">
                <div class="col-xs-3">Domain:<br /><f:form.select name="root" options="{rootOptions}"
                                                     value="{root}" additionalAttributes="{onchange: 'this.form.submit()'}" class="form-control" /></div>
                </f:if>
                <div class="col-xs-3">Prio:<br /><f:form.select name="onlyPriority" options="{calcOnlyPriority}"
                                                     value="{onlyPriority}" additionalAttributes="{onchange: 'this.form.submit()'}" class="form-control" /></div>
                <div class="col-xs-3">Per page:<br /><f:form.select name="perpage" options="{perpageOptions}"
                                                     value="{perpage}" additionalAttributes="{onchange: 'this.form.submit()'}" class="form-control" /></div>
            </div>
        </div>
    </f:form>
</f:section>

<f:section name="buttons">
</f:section>

<f:section name="content">
    <div class="row" style="margin-top: 20px">
        <div class="col-xs-6">
            <div class="alert alert-{itemStatus}" style="display: inline-block">
                <p>
                    Noch aufzuwärmen: <strong>{unwarmItemCount} / {totalItemCount}</strong> (Cache: {itemPercent}%)
                </p>
            </div>
        </div>
        <div class="col-xs-6">
            <f:if condition="{pages} > 1">
                <br>
                <f:render partial="Backend/Paginate"
                          arguments="{position: 'top', perpage: perpage, pages: pages, page: page, count: '{items -> f:count()}'}"/>
                <br>
                <br>
            </f:if>
        </div>
    </div>

    <div class="recordlist">
        <div class="table-fit">
            <table class="table table-striped table-hover" data-table="tx_imiabaseext_cacheitem" style="table-layout: fixed">
                <thead>
                    <tr>
                        <th nowrap="nowrap" class="col-icon" style="width: 32px">
                            <div style="width: 26px; height: 26px;"></div>
                        </th>
                        <th class="col-title">
                            URL
                        </th>
                        <th nowrap="nowrap" style="width: 100px">
                            Priorität
                        </th>
                        <th nowrap="nowrap" style="width: 50px">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <f:if condition="{items -> f:count()} > 0">
                        <f:for each="{items}" as="item" iteration="iterator">
                            <tr>
                                <td class="col-icon">
                                    {bx:be.icon(record: item)}
                                </td>
                                <td style="white-space: normal; word-break: break-all">
                                    {item.uri}
                                </td>
                                <td>
                                    {item.priority}
                                </td>
                                <td nowrap="nowrap" style="text-align: right">
                                    <div class="btn-group" style="min-width: 0">
                                        <a href="#" title="" data-original-title="{f:translate(key:'backend_functions_page_show')}" class="btn btn-default btn-sm" onclick="var previewWin = window.open('{item.uri}');previewWin.focus();">
                                            <c:icon identifier="actions-edit-hide" />
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </f:for>
                    </f:if>
                </tbody>
            </table>
        </div>
    </div>

    <br>
    <f:if condition="{pages} > 1">
        <f:render partial="Backend/Paginate"
                  arguments="{position: 'bottom', perpage: perpage, pages: pages, page: page, count: '{items -> f:count()}'}"/>
    </f:if>
</f:section>