<f:if condition="{imageWidth}">
	<f:then>
		<style type="text/css">
			/* <f:format.cdata> */
			.t3js-positioner-image-container {
				position: relative;
				cursor: pointer;
			}
			.position-marker {
				position: absolute;
				width: 24px;
				height: 24px;
				text-align: center;
				margin: -12px 0 0 -12px;
			}
			.position-marker .fa {
				color: #000;
				text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff;
			}
		    /* </f:format.cdata> */
		</style>
		<div class="modal-panel">
			<div class="modal-panel-sidebar modal-panel-sidebar-right" style="width: 300px; float: right">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
					<h4 class="modal-title"><f:translate key="imwizard.image-positioning" extensionName="ImiaBaseExt" /></h4>
				</div>
				<div class="modal-body">
					<form class="form">
						<div class="form-group">
							<label><f:translate key="LLL:EXT:lang/locallang_wizards.xlf:imwizard.image-title" />:</label>
							<p>{imageTitle}</p>
						</div>
						<div class="form-group">
							<label><f:translate key="imwizard.image-dimensions" extensionName="ImiaBaseExt" />:</label>
							<p>{imageWidth} × {imageHeight}</p>
						</div>

						<div class="form-group">
							<label><f:translate key="imwizard.image-selection" extensionName="ImiaBaseExt" /></label>
							<div class="table-fit-block">
								<table class="table table-no-borders table-transparent t3js-image-position-info">
									<tr>
										<td>
											X:
										</td>
										<td class="t3js-image-position-info-pos-x"></td>
									</tr>
									<tr>
										<td>
											Y:
										</td>
										<td class="t3js-image-position-info-pos-y"></td>
									</tr>
								</table>
							</div>
							<div class="form-group">
								<button class="btn btn-default" data-method="reset" title="{f:translate(key:'LLL:EXT:lang/locallang_wizards.xlf:imwizard.reset')}"><i class="fa fa-refresh"></i> {f:translate(key:'LLL:EXT:lang/locallang_wizards.xlf:imwizard.reset')}</button>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button class="btn btn-default" data-method="dismiss" title="{f:translate(key:'LLL:EXT:lang/locallang_wizards.xlf:imwizard.cancel')}"><i class="fa fa-remove"></i> {f:translate(key:'LLL:EXT:lang/locallang_wizards.xlf:imwizard.cancel')}</button>
					<button class="btn btn-default" data-method="save" title="{f:translate(key:'LLL:EXT:lang/locallang_wizards.xlf:imwizard.accept')}"><i class="fa fa-check"></i> {f:translate(key:'LLL:EXT:lang/locallang_wizards.xlf:imwizard.accept')}</button>
				</div>
			</div>

			<div class="modal-panel-body">
				<div class="t3js-positioner-image-container" style="cursor: pointer">
					<img src="{f:uri.image(image: image, maxWidth:'1000', maxHeight: '700', cropVariant: cropVariant)}" style="display: none"
						 data-original-width="{imageWidth}" data-original-height="{imageHeight}" />
				</div>
			</div>
		</div>
	</f:then>
	<f:else>
		<div class="alert alert-danger">
			<h4 class="alert-title"><f:translate key="LLL:EXT:lang/locallang_wizards.xlf:imwizard.no-image-found" /></h4>
			<p class="alert-message"><f:translate key="LLL:EXT:lang/locallang_wizards.xlf:imwizard.no-image-found-message" /></p>
		</div>
	</f:else>
</f:if>